

                      <div class="row">
                          <div class="col-md-12">
                              <!-- BEGIN VALIDATION STATES-->
                              <div class="portlet light portlet-fit portlet-form bordered">
                                  <div class="portlet-title">
                                      <div class="caption">
                                          <i class="icon-bubble font-green"></i>
                                          <span class="caption-subject font-green bold uppercase">Registration</span>
                                      </div>
                                  </div>
                                  <div class="portlet-body">
                                     <!-- BEGIN FORM-->
                <form action="#" id="form_sample_2" class="form-horizontal">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                            <div class="form-group  margin-top-20">
                                <label class="control-label col-md-3">Firstname
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="firstname" required="required" /> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Lastname
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="lastname" required="required" /> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Middle Name
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="middlename"  /> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Alternative Email
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="alternative_email" required="required" /> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Institution
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="institution" required="required" /> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">ORCID
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="orcid" required="required" /> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Feild of Study
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="feild_of_study" required="required" /> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Area of Specialization
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="area_of_specialization" required="required" /> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Phone Number
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="phone_number" required="required" /> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Address
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="address" required="required" /> </div>
                                </div>
                            </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Register and Continue</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
                                  </div>
                              </div>
                              </div>
                              </div>
                              